<table border="1" style="border-collapse: collapse; width: 100%;">
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Buy Date</th>
      <th>Buy Price</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
    {% for entry in journal %}
    <tr>
      <td>
        <input
          type="text" name="symbol" value="{{ entry.symbol }}"
          hx-post="/journal/edit"
          hx-include="closest tr"
          hx-trigger="change"
          hx-vals='{"id": "{{ entry.id }}"}'
          hx-target="none"
          autocomplete="off"
          style="width: 100%;"
        />
      </td>
      <td>
        <input
          type="date" name="buy_date" value="{{ entry.buy_date }}"
          hx-post="/journal/edit"
          hx-include="closest tr"
          hx-trigger="change"
          hx-vals='{"id": "{{ entry.id }}"}'
          hx-target="none"
          style="width: 100%;"
        />
      </td>
      <td>
        <input
          type="number" name="buy_price" step="0.01" value="{{ entry.buy_price }}"
          hx-post="/journal/edit"
          hx-include="closest tr"
          hx-trigger="change"
          hx-vals='{"id": "{{ entry.id }}"}'
          hx-target="none"
          style="width: 100%;"
        />
      </td>
      <td>
        <input
          type="number" name="quantity" step="0.01" value="{{ entry.quantity }}"
          hx-post="/journal/edit"
          hx-include="closest tr"
          hx-trigger="change"
          hx-vals='{"id": "{{ entry.id }}"}'
          hx-target="none"
          style="width: 100%;"
        />
      </td>
    </tr>
    {% endfor %}
    <!-- Blank row for new entry -->
    <tr>
      <td>
        <input
          type="text" name="symbol" autocomplete="off"
          hx-post="/journal/edit"
          hx-trigger="change"
          hx-target="none"
          style="width: 100%;"
        />
      </td>
      <td>
        <input
          type="date" name="buy_date"
          hx-post="/journal/edit"
          hx-trigger="change"
          hx-target="none"
          style="width: 100%;"
        />
      </td>
      <td>
        <input
          type="number" name="buy_price" step="0.01"
          hx-post="/journal/edit"
          hx-trigger="change"
          hx-target="none"
          style="width: 100%;"
        />
      </td>
      <td>
        <input
          type="number" name="quantity" step="0.01"
          hx-post="/journal/edit"
          hx-trigger="change"
          hx-target="none"
          style="width: 100%;"
        />
      </td>
    </tr>
  </tbody>
</table>
